<div class="nav">
  <a href="#">New Snippet</a>
  <a href="/logout">Logout</a>
</div>

<form class="new-snippet" action="/api/snippets" method="post">
{{>_snippet-form}}
</form>

<script src="/js/snippet.js" charset="utf-8"></script>
