<div class="nav">
  <a href="#">New Snippet</a>
  <a href="/logout">Logout</a>
</div>

<form class="new-snippet" action="/api/snippets" method="post">
  <fieldset>
    <legend>Add Snippet!</legend>
    <label for="title">Title: </label>
    <input type="text" id="title" name="title" value="" placeholder="Enter Title">
    <label for="language">Language: </label>
    <input type="text" id="language" name="language" value="" placeholder="Enter Language">
    <label for="body">Enter Code: </label>
    <textarea name="body" id="body" rows="8" cols="80" placeholder="Enter Code"></textarea>
    <label for="tag">Add Tag: </label>
    <input type="text" id="tag" name="tag" value="" placeholder="Enter Tag">

    <input type="submit" name="submit" value="Add Snippet">
  </fieldset>
</form>

<script src="/js/snippet.js" charset="utf-8"></script>
