* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #16a085;
}

a {
  text-decoration: none;
}

.container {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.error {
  color: red;
}

.tags {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  font-size: 18px;
}

.snippet-title {
  padding: 10px;
  margin: 10px;
  border: 2px solid gray;
  text-align: center;
  width: 50%;
  background-color: #ecf0f1;
}

.snippet-title .title {
  margin: 5px;
  font-size: 25px;
}

.snippet-title .language {
  margin: 5px;
  font-size: 20px;
}

.code {
  background-color: #34495e;
  color: #2ecc71;
  padding: 20px;
  height: 20vh;
  font-family: courier;
  margin: 5px;
}

.new-snippet fieldset {
  display: flex;
  flex-direction: column;
}

.edit-snippet fieldset {
  display: flex;
  flex-direction: column;
}

form {
  background-color: #ecf0f1;
}

.nav {
  display: flex;
  justify-content: center;
}

.nav a {
  margin: 10px;
  text-decoration: none;
}

.snippets {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.snippet {
  width: 60%;

}

.snippet .title {
  margin: 5px;
}

.snippet .language {
  margin: 5px;
}

.snippet .tags {
  justify-content: flex-start;
  margin: 5px;

}

form.login {

}

.input {
  margin: 5px;
  display: flex;
  justify-content: space-between;
}

.snippet .tag {
  display: flex;
  padding: 2px;
  border: 1px solid gray;
  background-color: #ecf0f1;
}

.snippet .notes {
  margin: 5px;
}

.deleteSnippet {
  margin: 5px;
}

.snippet a {
  margin: 5px;
}

.delete {
  margin: 0 2px;
  color: red;
  border: none;
  background: none;
  padding: 2px;
}
