* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.error {
  color: red;
}

.tags {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.snippet-title {
  padding: 10px;
  margin: 10px;
  border: 2px solid gray;
}

.code {
  background-color: #34495e;
  color: #2ecc71;
  padding: 10px;
  height: 20vh;
  font-family: courier;
}

.new-snippet fieldset {
  display: flex;
  flex-direction: column;
}
